<!-- <h1>Click on chosen bike for details!</h1> -->

<!--  to check with empy database-->
<h1 *ngIf="!bikesList">Loading bikes...</h1>
<h1 *ngIf="!hasBikes">You don't have bikes fo sale!</h1>
<div class="container">
    <div *ngFor="let bike of bikesList" class="card" style="background: url('{{bike.img}}'); background-size:100% 100%">
        <div class="border">

            <a [routerLink]="['/bikes/details', bike._id]" class="details">Details</a>
            <div class="icons">
                <i class="fa fa-codepen" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <i class="fa fa-dribbble" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>
