
nav img {
    width: 80px;
    height: 50px;
    /* margin-left: 40px; */
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(32, 32, 32);
    height: 3rem;
    /* border-bottom: 0; */
}

ul li {
    display: inline-block;
    padding: 0.5rem 1.4rem;
}

ul li a {
    text-decoration: none;
    color: rgb(250, 249, 249);
    font-weight: bold;
    font-size: 1rem;
}

a:hover {
    border-bottom: 4px solid rgb(251, 2, 2);
}