<nav>
    <img id="logo-img" src="../../../assets/motorcycles-logo-400x300.png" alt="logo-img">
    <p *ngIf="authService.isLogged" style="color: white">Welcome {{authService.user?.username}} </p>
    <p *ngIf="!authService.isLogged" style="color: white">Welcome to our site! </p>
    <ul>
        <li><a routerLink="/">Home</a></li>

        <li><a routerLink="/bikes/catalog">All Bikes</a></li>
        <ng-container *ngIf="authService.isLogged">
            <li><a routerLink="/bikes/create">Add Bike</a></li>
            <li><a routerLink="/bikes/my-bikes">My Bikes</a></li>
            <li><a routerLink="/auth/logout">Logout</a></li>
        </ng-container>
        <ng-container *ngIf="!authService.isLogged">
            <li><a routerLink="/auth/register">Register</a></li>
            <li><a routerLink="/auth/login">Login</a></li>
        </ng-container>
    </ul>
</nav>