<nav>
    <img id="logo-img" src="../../../assets/motorcycles-logo-400x300.png" alt="logo-img">
    <div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/catalog">All Posts</a></li>

            <li><a href="/catalog/create">Create Post</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/user/logout">Logout</a></li>

            <li><a href="/user/register">Register</a></li>
            <li><a href="/user/login">Login</a></li>
        </ul>
    </div>

</nav>