<div class="create-box">
    <h2>Add bike</h2>
    <form>
        <div class="user-box">
            <input type="text" name="" required="">
            <label>Brand</label>
        </div>
        <div class="user-box">
            <input type="text" name="" required="">
            <label>Model</label>
        </div>
        <div class="user-box">
            <input type="text" name="" required="">
            <label>Year of manifacture</label>
        </div>
        <div class="user-box">
            <input type="text" name="" required="">
            <label>Power/HP</label>
        </div>
        <div class="user-box">
            <input type="text" name="" required="">
            <label>Price</label>
        </div>
        <div class="user-box">
            <input type="text" name="" required="">
            <label>Description</label>
        </div>
        <div class="user-box">
            <input type="text" name="" required="">
            <label>Img</label>
        </div>
        <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
        </a>
    </form>
</div>