div {
    background-image: url(../../../assets/2560x1440-2021-indian-built-customs-envy-4k_1630697398.jpg);
    background-size: cover;
    height: calc(100vh);
    width: 100%;
    background-position: center;
}


h1 {
    color: rgb(246, 17, 5);
    text-align: center;
    font-size: 65px;
    font-family: Arial, sans-serif;
    opacity: 0.6;
}