@keyframes blinker {
  95% {
    opacity: 50%;
  }
}



.main-text {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding-left: 50%; */
  color: rgb(246, 17, 5);
  text-align: center;
  font-size: 65px;
  font-family: Arial, sans-serif;
  opacity: 0.8;
  animation: blinker 3s linear infinite;
}

.error-message {
  color: rgb(252, 252, 252);

}

button {
  cursor: pointer;
}

.error-container {
  position: absolute;
  top: 40%;
  left: 30%;
}


.button {
  background-color: rgb(197, 2, 2); 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}



