<section class=" details">
    <div class="container">

        <div class="bike-info">
            <div>
                <img class="img" src={{singleBike?.img}} alt="car-image">
            </div>
            <div class="bike-details">
                <h5 class="info">Bike details</h5>
                <div class="lead">
                    <p>Brand: {{singleBike?.brand}}</p>
                    <p>Model: {{singleBike?.model}}</p>
                    <p>Year: {{singleBike?.year}}</p>
                    <p>Power: {{singleBike?.power}}HP</p>
                    <p>Price: {{singleBike?.price}}BGN</p>
                    <p>Owner: {{singleBike?._ownerId?.email}}</p>
                </div>

                <h5>Description: <span>{{singleBike?.description}}</span></h5>

                <ng-container *ngIf="isOwner">
                    <div class="actions">
                        <span class="btn btn-secondary" [routerLink]="['/bikes/edit', singleBike?._id]">Edit</span>
                    </div>
                </ng-container>

            </div>
        </div>
    </div>
</section>