<div class="create-box">
  <h2>Add bike</h2>
  <form [formGroup]="loginFormGroup">
      <div class="user-box">
          <input formControlName="email" type="text" name="email" required>
          <label>Email</label>
      </div>
      <div class="user-box">
          <input type="text" name="password" required>
          <label>Password</label>
      </div>
      <button (click)="loginHandler()">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Login
      </button>
  </form>
</div>