<section id="register-page">
    <div class="register-section">
        <form class="reg-form">
            <h2>Be part of Us</h2>
            <ul class="list-form">
                <li>
                    <label for="email">Email:</label>
                    <input type="text" class="inputs" id="email" name="email" value=""
                        placeholder="demo_email@abv.bg " />
                </li>
                <li>
                    <label for="password">Password:</label>
                    <input type="password" class="inputs" id="password" name="password" placeholder="******" />
                </li>
                <li>
                    <label for="repeat-password">Repeat-Password:</label>
                    <input type="password" class="inputs" id="repeat-password" name="repass" placeholder="******" />
                </li>
                <li id="btn">
                    <button id="reg-btn">Register</button>
                </li>
            </ul>
        </form>
    </div>
</section>