<div class="register-box">
  <h2>Register</h2>
  <form [formGroup]="registerFormGroup" (ngSubmit)="registerHandler()">
    <div class="user-box">
      <input formControlName="email" type="text" name="email">
      <label>Email</label>

      <ng-container *ngIf="registerFormGroup.get('email')?.touched && registerFormGroup.get('email')?.invalid">
        <p class="error" *ngIf="registerFormGroup.get('email')?.errors?.['required']" class="error">Email is necessary!
        </p>
        <p class="error" *ngIf="registerFormGroup.get('email')?.errors?.['pattern']" class="error">Invalid email!</p>
      </ng-container>
    </div>

    <div class="user-box">
      <input formControlName="username" type="text" name="username">
      <label>Username</label>

      <ng-container *ngIf="registerFormGroup.get('username')?.touched  && registerFormGroup.get('username')?.invalid">
        <p class="error">Username must be minimum 5 characters!</p>
      </ng-container>>
    </div>

    <div class="user-box">
      <input formControlName="password" type="password" name="password">
      <label>Password</label>

      <ng-container *ngIf="registerFormGroup.get('password')?.touched  && registerFormGroup.get('password')?.invalid">
        <p class="error">Password must be minimum 5 characters!</p>
      </ng-container>>
    </div>

    <div class="user-box">
      <input formControlName="repass" type="password" name="repass">
      <label>Repeat Password</label>

      <ng-container *ngIf="registerFormGroup.get('repass')?.touched  && registerFormGroup.get('repass')?.invalid">
        <p class="error">Password is not same!</p>
      </ng-container>>
      <p *ngIf="errors" class="server-error">{{errors}}</p>
    </div>
    <button [disabled]="registerFormGroup.invalid">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Register
    </button>
  </form>
  <a  routerLink="/auth/login">Login here!</a>
</div>